<main class="container">
    <div class="row">
        <div class="col-md-5 bg-light m-1 p-3">
            <h1>Employers</h1>
            <ul class="list-group">
                <li *ngFor="let employer of employers" class="list-group-item">
                    <a class="h5" 
                        (click)="selectEmployer(employer.name, employer.location, employer.description, employer.website, employer._id)">
                            {{employer.name}}
                    </a>
                    <h6>{{employer.location}}</h6>
                    <p>{{employer.description}}</p>
                    <p *ngIf="employer.website">
                        <a href="{{employer.website}}" target="_new">
                            {{employer.website}}
                        </a>                           
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-5 bg-light m-1 p-3">
            <h1>Employer Details</h1>
            <form>
                <fieldset>
                    <label class="col-2" for="name">Name *</label>
                    <input name="name" id="name" required [(ngModel)]="name" />
                </fieldset>
                <fieldset>
                    <label class="col-2" for="location">Location *</label>
                    <input name="location" id="location" required [(ngModel)]="location" />
                </fieldset>
                <fieldset>
                    <label class="col-2" for="description">Description</label>
                    <textarea name="description" id="description" [(ngModel)]="description"></textarea>
                </fieldset>
                <fieldset>
                    <label class="col-2" for="website">Website</label>
                    <input name="website" id="website" type="url" [(ngModel)]="website" />
                </fieldset>
                <button class="btn btn-warning offset-2 m-1" (click)="addEmployer()" *ngIf="!_id">Add</button>
                <button class="btn btn-warning m-1" *ngIf="_id" (click)="updateEmployer()">Update</button>
                <button class="btn btn-warning m-1" (click)="clearForm()">Reset</button>
                <button class="btn btn-warning m-1" *ngIf="_id" (click)="deleteEmployer(_id)">Delete</button>
                <input name="_id" id="_id" [(ngModel)]="_id" type="hidden" />
            </form>
        </div>
    </div>
</main>
